html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: #282828;
  margin: 0;
  padding: 0;
  touch-action: pan-y;
}

body,
html,
select,
option {
  font-size: 24px;
}

:root {
  --topnav-height: 44px;
  --separator-color: #444;
  --topnav-button-height: 32px;
}

button,
body {
  font-family: Monaco, monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', sans-serif;
  color: #ccc;
}

* {
  position: relative;
}

a {
  display: block;
  text-decoration: none;
  color: #74b9ff;
}
a::after {
  content: '';
  display: block;
  width: 100%;
  height: 6px;
  background: #74b9ff15;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: -6px;
  z-index: -1;
}

a:hover {
  color: #0984e3;
}

.type,
textarea {
  width: calc(100vw - 32px);
  margin: 0;
  padding: 14px;
  display: block;
  top: var(--topnav-height);
  position: absolute;
}

@media screen and (min-width: 640px) {
  .type,
  textarea {
    padding: 28px;
  }
}

textarea {
  margin-top: 8px;
  transform-origin: center left;
  transform: scalex(1.01);
  word-break: break-all;
  opacity: 1;
  background-color: #0000;
  color: #f000;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-size: 23px;
  letter-spacing: 0;
  font-family: Courier, monospace;
  line-height: 30px;
  z-index: 100;
  resize: none;
  overflow: auto;
  caret-color: white;
  outline: none;
}
textarea:focus,
textarea:active {
  outline: none;
}

textarea::selection {
  background-color: #e74c3c80;
  color: transparent;
}

.type {
  display: flex;
  flex-wrap: wrap;
}
.type-break {
  width: 100%;
}
svg {
  display: block;
  margin: 0;
}
.key {
  color: white;
  height: 22px;
  margin-bottom: -4px;
  margin-right: 4px;
  margin-top: 12px;
  width: 10px;
}

.unknown-char {
  display: block;
  line-height: 20px;
  font-size: 24px;
  color: red;
}

.sidebar {
  user-select: none;
  z-index: 200;
  position: fixed;

  bottom: 0;
  left: 0;
  width: 100vw;
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  align-items: center;
  gap: 28px;
  padding: 16px 16px 24px;
  border-left: none;
  border-top: 1px solid var(--separator-color);

  background-color: #28282880;
  backdrop-filter: blur(16px);
}

@media screen and (min-width: 1000px) {
  .sidebar {
    top: var(--topnav-height);
    right: 0;
    left: auto;
    width: 190px;
    height: calc(100vh - var(--topnav-height));
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: none;
    border-left: 1px solid var(--separator-color);
  }
}

.editor-input {
  font-size: 44px;
  width: 64px;
  height: 64px;
  text-align: center;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  border: none;
  border-radius: 8px;
  background: #222;
  color: #fff;
  box-shadow: inset #111 0 2px 8px;
}

.editor-input-label {
  text-shadow: #0004 0 -1px 0;
}

.editor-input-container {
  height: 84px;
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-direction: column;
  gap: 4px;
  text-transform: uppercase;
  font-size: 12px;
}

.editor-char {
  font-size: 64px;
  color: #fff;
}

.editor {
}
.editor-controls {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 16px;
  height: 32px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.editor svg {
  pointer-events: none;
}
.editor-dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  transform: translatey(-50%) translatex(-50%);
  border-radius: 16px;
  opacity: 1;
  position: absolute;
}

.topnav {
  user-select: none;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 8px;
  z-index: 300;
  font-size: 15px;
  width: 100vw;
  height: var(--topnav-height);
  gap: 4px;
  border-bottom: 1px solid var(--separator-color);

  background-color: #28282880;
  backdrop-filter: blur(16px);
}
.topnav.-responsive {
  height: auto;
  min-height: var(--topnav-height);
  flex-wrap: wrap;
}
.topnav.-responsive .-hide-on-mobile {
  display: initial !important;
}

.jbx-menu {
  padding: 0 10px;
  height: var(--topnav-height);
  line-height: var(--topnav-height);
  position: relative;
  cursor: pointer;
}
.jbx-menu:hover {
  background: #333;
}

.jbx-menu.-open {
  background-color: #111;
}

.jbx-menu-options {
  background: #111;
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
}

.jbx-menu-option {
  padding: 0 10px;
  border-bottom: 1px solid #333;
}

.jbx-menu-option:hover {
  background: #000;
}

button {
  -webkit-appearance: none;
  background-color: #444;
  border: none;
  padding: 0 8px;
  height: 24px;
  line-height: 1;
  margin: 0;
  cursor: pointer;
}
button:hover {
  background-color: #555;
  color: #fff;
}

.-hide-on-mobile {
  display: none;
}
.-show-only-mobile {
  display: initial;
}

@media screen and (min-width: 920px) {
  .-hide-on-mobile {
    display: initial;
  }
  .-show-only-mobile {
    display: none;
  }
}
